<%- include('partials/header') %>

<br>
<br>

<h1>Bored API </h1>

<hr>
<br>

<h3>Some examples of activities types</h3>
&nbsp;
<p>recreational</p>
<p>relaxation</p>
<p>social</p>
<p>education</p>
<p>music</p>
<p>busywork</p>
<p>diy</p>
<p>charity</p>

<hr>

<%- include('partials/footer') %>